zhon
zhconv
inflect
HyperPyYAML
jieba
pypinyin
regex
scipy
soundfile
huggingface_hub
contractions
# onnxruntime-gpu # Optional: Uncomment if you don't have onnxruntime installed. ComfyUI often has it.
